<!-- <ActionBar>
    <Label text="Search"></Label>
</ActionBar> -->

<PullToRefresh (refresh)="refreshList($event)">

        <ListView [items]="listaPalabras">
            <ng-template let-item="item">
                <StackLayout>
                    <Label text="{{'Palabra: ' + item.palabra}}"></Label>
                    <Label text="{{'Estado: ' + item.estado}}"></Label>
                    <!-- <Label *ngIf="item.estado" text="{{'Estado: ' + item.estado}}"></Label> -->
                </StackLayout>
            </ng-template>
        </ListView>

</PullToRefresh>