<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<StackLayout>

	<Label text="Jhonatan..." textWrap="true"></Label>
	<Switch class="switch" color="blue" (checkedChange)="onCheckedChangeJhonatan($event)" backgroundColor="black" offBackgroundColor="gray">
	</Switch>
	
	<Label text="Danilo..." textWrap="true"></Label>
	<Switch class="switch" color="blue" (checkedChange)="onCheckedChangeDanilo($event)" backgroundColor="black" offBackgroundColor="gray">
	</Switch>
	
	<Label text="Sala..." textWrap="true"></Label>
	<Switch class="switch" color="blue" (checkedChange)="onCheckedChangeSala($event)" backgroundColor="black" offBackgroundColor="gray">
	</Switch>

</StackLayout>